/* root values  */
:root {
    /* font sizes */
    --nav-logo-fs: 42px;
    --nav-buttons-fs: 18px;
}

body {
    height: 100vh;
    margin: 0 100px;
    background-image: url("../assets/vivaldi-bg.jpg");
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Optional: keeps the image fixed while scrolling */
}

/* Styling: Navbar and its child elements */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo {
    font-size: var(--nav-logo-fs);
}