/* Font face */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Font/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Root values */
:root {
    /* Font sizes */
    --nav-logo-fs: 42px;
    --nav-buttons-fs: 18px;
    --nav-cta-fs: 22px;
    --hero-h1-fs: 82px;
    --hero-p-fs: 22px;

    /* Font weights / types */
    --logo-fs-weight: 600;
    --cta-btn-fs-weight: 700;

    /* Spacing */
    --nav-padding-size: 20px 30px;
    --cta-btn-padding: 10px 20px;
    --hero-p-width: 600px;
    --hero-h1-width: 1200px;
    --hero-container-width: 1000px;
    --margin-top-content: 150px;
    --border-radius: 20px;

    /* Colors */
    --nav-cta-color: black;
    --hero-cta-btn-color: white;
    --body-bg-overlay: rgba(0, 0, 0, 0.578);
    --nav-bg-color: rgba(0, 0, 0, 0.428);
    --box-shadow-color: white;
}

/* Global styles */
body {
    height: 100vh;
    background: url("../assets/vivaldi-bg.jpg") center/cover no-repeat fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-overlay);
    z-index: -1;
}

/* END: CSS STYLING FOR THE HERO SECTION (HOME) */

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding-size);
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(10px);
    z-index: -1;
}

nav .logo {
    font-size: var(--nav-logo-fs);
    font-weight: var(--logo-fs-weight);
}

nav button,
nav .logo {
    color: white;
    background: none;
    border: none;
}

nav .nav-btns > button:hover {
    color: rgb(138, 138, 138);
}

.cta-btn { font-weight: var(--cta-btn-fs-weight); }

nav .cta-btn {
    background: white;
    padding: var(--cta-btn-padding);
    color: var(--nav-cta-color);
    font-size: var(--nav-cta-fs);
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px var(--box-shadow-color);
}

/* Hero section */
#content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: var(--margin-top-content);
    height: 100%;
}

#content .hero-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: white;
}

#content .hero-txt-container h1 {
    font-size: var(--hero-h1-fs);
    width: var(--hero-h1-width);
    margin: 0;
    text-align: center;
}

#content .hero-txt-container p {
    width: var(--hero-p-width);
    font-size: var(--hero-p-fs);
    text-align: center;
}

#content .hero-txt-container .cta-btn {
    background: black;
    padding: var(--cta-btn-padding);
    color: var(--hero-cta-btn-color);
    font-size: var(--nav-cta-fs);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px var(--box-shadow-color);
}

/* END: CSS STYLING FOR THE HERO SECTION (HOME) */

 