/* stylesheet applied to the about tab content */
:root {
    --hero-fs: 50px;
    --h2-fs: 35px;
    --p-fs: 25px;
}

/* global stuff */
h2 {
    font-size: var(--h2-fs);
}

p {
    font-size: var(--p-fs);
}

/* whole container which wrapps each element */
.about-container {
    /* outline: solid red 2px; */
    text-align: center;
}

/* content container styling */
.content-container {
    /* outline: solid blue 2px; */
    margin-block: 15px; 
}

/* Hero text for the about content */
.about-hero {
    font-size: var(--hero-fs);
}


/* retaurant introduction / mission statement styling */
.restaurant-introduction {
    
}

/* our story / history styling */
.our-history {

}

/* the chef / team styling */
.chef-team {

}

/* our philosophy / ingredients / sourcing styling */
.philosophy {

}

/* ambience / experience styling*/
.ambience-experience {

}

/* closing line / call to action */
.close-line-cta {
    
}