/* stylesheet applied to the about tab content */
:root {
    --hero-fs: 50px;
    --h2-fs: 35px;
    --p-fs: 25px;
}

/* === Grid container === */
.grid-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 20px;
}

.grid-item {
    background: red;
    border: 2px solid black;
}