/* stylesheet applied to the about tab content */
:root {
    /* Font Sizes */
    --font-size-about-h1: 4.5rem;
    --font-size-about-h2: 1.5rem;
    --font-size-about-p: 1.25rem;

    /* Spacing */
    --padding-grid-item: 15px;
    --max-width-container: 1200px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* === Grid container and grid items styling === */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: var(--max-width-container);
    margin-bottom: var(--margin-page-footer);
}

.grid-item {
    border: 2px solid black;
    border-radius: 8px;
    padding: var(--padding-grid-item);
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: var(--color-item-bg);
}

.grid-item:hover {
    background-color: var(--color-item-bg-hover);
}

.about-hero { 
    font-size: var(--font-size-about-h1);
    text-align: center;
}           

.grid-item h2 { font-size: var(--font-size-about-h2); }

.grid-item p { font-size: var(--font-size-about-p); }