/* styling for the home tab content */
:root {
    /* global */
    --global-ff: "Roboto";
    --global-fc: #393939;
    
    /* font settings */
    --hero-fs: 60px;
    --hero-sub-fs: 25px;   
}

.hero-container {
    display: flex;
}


.left-container {
    display: flex;
    flex-direction: column;
}

.hero-str {
    font-size: var(--hero-fs);
}

.hero-sub-str {
    font-size: var(--hero-sub-fs);
}