/* styling for the home tab content */
:root {
    /* global */
    --global-ff: "Roboto";
    --global-fc: #393939;
    
    /* font settings */
    --hero-fs: 75px;
    --hero-sub-fs: 20px;   

    /* buttons */
    --left-container-btnColor: purple;
    --left-container-btnPadding: 10px 20px;
    --whiteColor: white;
    --btn-radius: 10px;
}

.hero-container {
    display: flex;  
    justify-content: space-around;
    margin-block: 75px;
    /* outline: solid red 2px; */
}

.left-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-str {
    font-size: var(--hero-fs);
    margin: 0;
}

.hero-sub-str {
    font-size: var(--hero-sub-fs);
    margin-block: 20px;
    width: 650px;
}

.left-container .button-container button {
    background: var(--left-container-btnColor);
    padding: var(--left-container-btnPadding);
    color: var(--whiteColor);
    border-radius: var(--btn-radius);
}

.span-or {
    margin-inline: 20px;
    font-size: 30px;
}

/* right side of the hero container */
img {
    height: 550px;
}