/* styling for the menu tab content */
:root {
   --hero-str-fs: 75px;
   --menu-sub-str-fs: 20px;

   /* Menu item styling */
    --menuItem-bc: #dfdddd;
    --menuItem-bc-hover: #cbcbcb;
    --menu-item-padding: 50px;
    --grid-gap: 20px;
    --grid-margin-top: 50px;
    --menu-item-name-fc: 30px;
    --menu-item-desc-fc: 25px;

   /* global */
   --content-margin: 75px 0;
}

.menu-container {
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: var(--content-margin);
}

.menu-hero-str {
    text-align: center;
    font-size: var(--hero-str-fs);
    margin: 0;
}

.menu-sub-str {
    text-align: center;
    font-size: var(--menu-sub-str-fs);
}

.grid-container {
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, auto);
    gap: var(--grid-gap);
    margin-top: var(--grid-margin-top);
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--menuItem-bc);
    width: auto;
    padding: var(--menu-item-padding);
}

.menu-item-name {
    font-size: var(--menu-item-name-fc);
}

/* testing hover effect for menu-item-name */
.menu-item-name:hover {
    background: var(--menuItem-bc-hover);
}

.menu-item-desc {
    font-size: var(--menu-item-desc-fc);
}