/* styling for the menu tab content */
:root {
   --hero-str-fs: 75px;
   --menu-sub-str-fs: 20px;

   /* Menu item styling */
   --menuItem-bc: #dfdddd;

   /* global */
   --content-margin: 75px 0;
}

.menu-container {
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: var(--content-margin);
}

.menu-hero-str {
    text-align: center;
    font-size: var(--hero-str-fs);
    margin: 0;
}

.menu-sub-str {
    text-align: center;
    font-size: var(--menu-sub-str-fs);
}

.grid-container {
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, auto);
    gap: 20px;
    margin-top: 50px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--menuItem-bc);
    width: auto;
    padding: 50px;
}

.menu-item-name {
    font-size: 25px
}

.menu-item-desc {
    font-size: 20px;
}