/* styling the nav */
:root {
    --btn-container-margin: 10px;
    --btn-container-fs: 20px;
    --nav-bg-color: #d7d7d7;
    --nav-padding: 10px 40px;
    --nav-border-radius: 3px;
    --nav-height: 50px;
    --nav-margin-top: 15px;

    /* stying for the buttons */
    --nav-githubBtn-padding: 15px 35px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--nav-margin-top);
    height: var(--nav-height);
    border-radius: var(--nav-border-radius);
    padding: var(--nav-padding);
    background: var(--nav-bg-color);

    /* testing, going to change in later version */
    margin-inline: auto;
    width: 85%;
}

/* styling for each button in the navbar */
.nav.button-container button {
    margin-inline: 10px;
}

/* section of styling for each button */
button {
    background: none;
    border: none;

    /* font settings */
    font-size: var(--btn-container-fs);
}

/* fix this and replace values with variables later */
.github-btn {
    background: purple;
    padding: var(--nav-githubBtn-padding);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.github-btn:hover {
    background: rgb(181, 2, 181);
    padding: var(--nav-githubBtn-padding);
}

button:hover {
    cursor: pointer;
}