/* ./src/styles.css - styling 'Odin Restaurant' */
* {
    box-sizing: border-box;
}

/* Styling for reach call to action */
.cta-order {
    background-color: rgb(241, 213, 213);
    padding: 10px 20px;
    border: solid black 2px;
}

/* add styling for the navbar in <header> */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #FFFFFF;
}

/* styling the logo in the navbar */
nav div:first-child {
    font-size: 40px;
}

/* chaning the styles of each button in the navbar */
nav button {
    border: none;
    background-color: inherit;
}

/* adding the padding of the cta-order btn */
nav .cta-order {
    margin-left: 20px
}

nav button:hover {
    color: #757575;
}

/* styling for the main content section */
#content .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}

.hero-container .left-side {
    margin: 100px;
    width: 500px;
}

.hero-container .left-side h1 {
    font-size: 60px;
}

.hero-container .left-side h2 {
    font-size: 20px;
}
